$blackMainBackground: #141718;
$white: #FFFFFF;
$grey: #909090;
$grey2: #90909085;
$neutral_0: #FFFFFF;
$neutral_200: #C9C9C9;
$neutral_400: #909090;
$neutral_600: #4C4D4E;
$neutral_800: #232627;
$neutral_1000: #141718;
$red: #FF3B30;

.large-title {
    font-size: 32px;
}

body {
    --swiper-pagination-color: #4C4D4E;
    --swiper-pagination-bullet-inactive-color: #5f686a;
}

